{% extends 'Clonedata/navbar.html' %}
{% load static %}

{% block title %}Chat Room{% endblock %}



{% block body %}
    <div class="index-body">
        <div class="col-span-2">
            <img src="{% static 'images/1a.png' %}">
        </div>

        <div class="col-span-3">
            <h1 class="welcome">Welcome to Chat App</h1>
            
            <button type="submit" class="button">
            <a href="{% url 'login' %}">Let's Chat</a>
            </button>
        </div>
    </div>
    
{% endblock %}

