{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block stylelink %}<link href="{% static 'Clonedata/navbar.css' %}" rel="stylesheet">{% endblock %}
        {% block scriptlink %} {% endblock %}
    </head>

    <body>
        <div id="navbar">
            <nav class="nav">
                <div class="company-name">
                    <a href="/">Chat Room</a>
                </div>
                <div class="navbar-links">
                    <a href="{% url 'index' %}">Home</a>
                    <a href="{% url 'about' %}">About</a>
                </div>
            </nav>
        </div>

        {% block body %}
        {% endblock %}

    </body>
</html>
