/* navbar.css */

#navbar {
  background-color: lightcoral;
  overflow: hidden;
  padding: 0.5rem;
}

.company-name {
  float: left;
  padding: 10px 20px;
}

.company-name a {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  padding: 1.5rem;
}

.navbar-links {
  float: right;
  padding: 1.5rem;
  margin-right: 3%;
  margin-bottom: auto;
  align-items: center;
}

.navbar-links a {
  color: #fff;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar-links a:hover {
  background-color: #111;
}
